body {
    font-family: 'Comic Sans MS', 'Arial', sans-serif;
    background-color: #F0F8FF;
    color: #333;
    text-align: center;
    padding: 0 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#settingsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 2px solid #FFD700; /* Culoarea bordurii este setată la culoarea de fundal a exerciseContainer */
    border-radius: 10px; /* Raza colțurilor este setată la aceeași valoare ca și pentru exerciseContainer */
    padding: 20px; /* Adaugă padding pentru a avea un aspect mai aerisit */
    background-color: #F0F8FF; /* Folosește o culoare de fundal deschisă, poți ajusta conform schemei tale de culori */
}

#toggleSettingsButton {
    background-color: #FFD700; /* O culoare de fundal veselă și luminoasă */
    color: #333; /* Culoare text care oferă un contrast bun */
    border: 2px solid #FFA500; /* Bordură colorată pentru a adăuga la aspectul jucăuș */
    padding: 8px 15px; /* Padding generos pentru ușurința în utilizare */
    font-size: 1.2rem; /* Dimensiune font mărită pentru accesibilitate */
    border-radius: 10px; /* Margini foarte rotunjite pentru un aspect prietenos */
    cursor: pointer; /* Indică faptul că elementul este clicabil */
    margin-bottom: 10px; /* Spațiu dedesubt pentru separare */
    transition: background-color 0.3s ease; /* Tranziție pentru feedback vizual la hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Umbră ușoară pentru a adăuga adâncime */
}

#toggleSettingsButton:hover {
    background-color: #FFC107; /* Schimbă culoarea de fundal la hover pentru a fi și mai luminos */
    border-color: #FFD700; /* Schimbă culoarea bordurii pentru consistență */
}

#rangeSettings {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}

#rangeSettings input[type="number"] {
    width: 40px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#rangeSettings button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

#rangeSettings button:hover {
    background-color: #45a049;
}
#bonusContainer, #exerciseContainer, #exerciseList {
    width: 90%; /* Ajustează la 90% din lățimea containerului pentru a permite un spațiu pe margini */
    max-width: 600px; /* Poți ajusta această valoare în funcție de design-ul dorit */
}

#exerciseContainer {
    background-color: #FFD700;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
}

#exercise {
    font-size: 3.5rem;
    margin-right: 10px;
}

#exerciseList {
    list-style: none; /* Elimină stilul implicit al listei */
    padding: 0; /* Elimină padding-ul implicit */
    width: 100%; /* Extinde lista pe întreaga lățime a containerului */
    max-width: 600px; /* Menține o lățime maximă pentru coerență */
    margin: 20px auto; /* Centrarea listei */
    text-align: left; /* Alinează textul listei la stânga */
}

#exerciseList li {
    font-size: 1.5rem; /* Mărește fontul pentru o mai bună vizualizare */
    border-bottom: 1px solid #ddd; /* Adaugă o linie sub fiecare element al listei pentru a le separa vizual */
    padding: 10px; /* Adaugă un spațiu interior pentru fiecare element al listei */
}

#answer {
    width: 3ch; /* Setează lățimea input-ului pentru 4 caractere */
    font-size: 3.5rem; /* Mărește fontul; ajustează valoarea după necesități */
    border: 2px solid #7FFFD4;
    border-radius: 5px;
    text-align: center;
}

#answer.incorrect {
    border-color: #FF6347;
}

button {
    background-color: #7FFFD4;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 2.5rem;
    cursor: pointer;
}

button:hover {
    background-color: #76EEC6;
}

#message {
    color: #FF4500;
    font-size: 2rem;
    margin: 20px 0;
}
#answer.correct {
    border-color: #4CAF50; /* Verde, o culoare frecvent asociată cu succesul */
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#message {
    opacity: 0; /* Inițializăm opacitatea la 0 */
    animation: fadeOut 10s forwards; /* Aplicăm animația */
}
#message.successMessage {
    color: #4CAF50; /* Aceeași culoare verde pentru mesajele de succes */
}
#message.errorMessage {
    color: #FF4500;
}

.bonusImage {
    width: 100px;
    height: auto;
    display: block;
    margin: 10px auto;
    opacity: 0.3; /* Inițializează imaginile bonus ca fiind "pale" */
    transition: opacity 0.5s ease; /* Opțional: Adaugă o tranziție pentru efect vizual plăcut */
}

#bonusContainer {
    display: flex;
    flex-wrap: wrap; /* Permite elementelor să treacă pe un nou rând */
    justify-content: center; /* Centrează elementele pe rând */
    gap: 20px; /* Spațiu între elementele de bonus */
}

.bonusItem {
    border: 1px solid #ccc; /* Adaugă o bordură subtilă */
    padding: 20px; /* Spațiu în interiorul fiecărui element de bonus */
    margin-bottom: 20px; /* Spațiu între elementele de bonus */
    border-radius: 10px; /* Margini rotunjite */
    background-color: #f9f9f9; /* Un fundal ușor diferit pentru a se distinge */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* O umbră subtilă pentru efectul de adâncime */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrează conținutul pe verticală */
    text-align: center; /* Alinează textul la centru */
    flex: 0 1 calc(25% - 20px); /* Calculează flex-basis pentru 4 elemente per rând minus gap */
}

.bonusTitle {
    font-size: 1.2em; /* Mărește ușor fontul titlului */
    margin-bottom: 10px; /* Spațiu între titlu și conținutul următor */
    font-weight: bold; /* Face titlul mai proeminent */
    color: #333; /* O culoare mai închisă pentru contrast */
}

.counterContainer {
    margin: 10px 0; /* Spațiu înainte și după contor */
    font-size: 0.9em; /* O dimensiune mai mică a fontului pentru contor */
    color: #666; /* O culoare mai deschisă pentru textul contorului */
}

.bonusImage {
    width: 100px;
    height: auto;
    margin: 0 auto 10px; /* Spațiu între imagine și bara de progres */
    opacity: 0.3;
    transition: opacity 0.2s ease;
}

.bonusProgress {
    width: 100%; /* Lățime completă pentru a se potrivi cu containerul */
    height: 20px; /* Înălțimea specifică pentru bara de progres */
    margin: 10px 0; /* Spațiu înainte și după bara de progres */
}

#controlsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.soundButton, .resetButton {
    font-size: 1.5rem;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.soundButton.soundOn {
    background-color: #4CAF50; /* Verde pentru sunet activat */
}

.soundButton.soundOff {
    background-color: #f44336; /* Roșu pentru sunet dezactivat */
}

.resetButton {
    background-color: #2196F3; /* Albastru pentru butonul de resetare */
}

.soundButton:hover, .resetButton:hover {
    filter: brightness(1.1);
}

.soundButton:active, .resetButton:active {
    filter: brightness(0.9);
}

@media (max-width: 600px) {
    #bonusContainer, #exerciseContainer, #exerciseList {
        width: 100%; /* Extinde containerele pe întreaga lățime a paginii */
        max-width: none; /* Elimină orice restricție de max-width */
        padding: 10px 5%; /* Ajustează padding-ul pentru a menține conținutul centrat */
    }

    button {
        margin-top: 5px;
    }

    #message, #bonusContainer {
        font-size: 1rem; /* Mărește fonturile pentru mesaje și containerul de bonus */
    }

    .bonusImage {
        width: 130px; /* Opțional: ajustează și dimensiunea imaginilor de bonus dacă este necesar */
        height: auto;
    }
}
@media (max-width: 768px) {
    .bonusItem {
        flex: 0 1 calc(50% - 20px); /* Ajustează pentru 2 elemente per rând pe ecrane mai mici */
    }
}

@media (max-width: 480px) {
    .bonusItem {
        flex: 0 1 30%; /* Ocupă întreaga lățime pentru ecrane foarte mici */
        padding: 5px;
    }
}

@keyframes glowAnimation {
    0%, 100% { filter: brightness(1); }
    50% { filter: brightness(1.5); } /* Intensitatea luminozității crește */
}

.glowEffect {
    animation: glowAnimation 1s ease-in-out infinite; /* Animatie mai rapidă și repetitivă */
}

/* Stilizare suplimentară pentru label și select, adaptată la CSS-ul existent */
label {
    font-size: 1.5rem; /* Ajustează dimensiunea fontului pentru o mai bună vizibilitate */
    color: #333; /* Menține culoarea textului coerență cu restul aplicației */
    margin: 20px 0 0; /* Spațiu suplimentar deasupra și dedesubtul etichetei */
    font-family: 'Comic Sans MS', 'Arial', sans-serif; /* Menține fontul prietenos pentru copii */
}

select#maxNumberSelect {
    font-size: 1.5rem; /* Mărește dimensiunea fontului pentru ușurință în selectare */
    color: #333; /* Culoare text coerență cu schema de culori */
    padding: 10px 20px; /* Padding generos pentru ușurință în manipulare */
    border-radius: 10px; /* Margini rotunjite pentru un aspect mai prietenos */
    border: 2px solid #4CAF50; /* Bordură colorată pentru a se potrivi cu butoanele */
    background-color: #FFF; /* Fundal deschis pentru contrast bun */
    cursor: pointer; /* Indică faptul că elementul este interactiv */
    outline-color: #FFD700; /* Culoare de accent pentru focus, pentru o mai bună vizibilitate */
}

select#maxNumberSelect:hover {
    background-color: #F0F8FF; /* Schimbă ușor culoarea de fundal la hover */
    border-color: #76EEC6; /* Schimbă culoarea bordurii la hover */
}

select#maxNumberSelect:focus {
    border-color: #FFD700; /* Culoarea bordurii la focus */
    box-shadow: 0 0 0 2px #FFD700; /* Adaugă o umbră pentru a evidenția focusul */
}

#bonusCompletedPopup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
}

.popupIcon {
    width: 30px;
    height: 30px;
}
