/* Conținutul fișierului win.css */
@keyframes fall {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(100vh);
    }
}

.star, .ribbon {
    position: fixed;
    z-index: 9999;
    opacity: 0;
    animation: fall 3s linear forwards;
}

.star {
    /* Stilizează steluțele */
    width: 20px;
    height: 20px;
    background-color: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.ribbon {
    /* Stilizează panglicile */
    width: 10px;
    height: 100px;
    background-color: pink;
    border-radius: 5px;
}

.soundButtonIcon {
    width: auto; /* sau orice altă dimensiune mică preferi */
    height: 50px; /* menține proporțiile ajustând înălțimea corespunzător */
    cursor: pointer; /* opțional, pentru a indica faptul că este clicabil */
}